#%Module1.0################
##

module-whatis "Origin: Singularity image"
{% set description = "Description: " ~ about.description %}
module-whatis "{{ description }}"

{% if 'help' in about and about.help %}
proc ModulesHelp { } {
  puts stdout "\n"
  {% for line in about.help.split('\n') %}
  puts stdout "{{ line }}"
  {% endfor %}
  puts stdout "\n"
}
{% endif %}

{% if instructions is defined %}
puts stdout "\n"
{% for line in instructions.split('\n') %}
puts stderr "{{ line }}"
{% endfor %}
puts stdout "\n"
{% endif %}

conflict {{ env("software") }}

module load singularity

{% if require is defined %}
{% for module in require %}
module load {{module}}
{% endfor %}
{% endif %}

prepend-path PATH {{ env("wrappers_path") }}
